<footer class="footer">
    <div class="grid">
      <div class="row">
        <div class="col col-12">
          <p class="footer__title">©Fræðslumyndbandaleigan</p>
        </div>
      </div>
    </div>
  </footer>